{% extends 'main.html' %}
{% load bootstrap %}


{% block main %}
    <div class="container">
        <p>{{ post.title }}</p>
        <p> Content = {{ post.content }} </p>
        <p> Author = {{ post.author }} and Date = {{ post.date }} </p>
        {% for r in replys %}
            {% if r.visible == True and r.approved == True %}
                <div class="container">
                    name = {{r.name}}  email ={{r.email}}
                    <br>
                    {{r.content}}
                    {% if user.id == post.author_id %}
                        <br>
                        <a href="{% url 'delete_reply' r.id %}"> <span class="fa fa-trash" aria-hidden="true"></span> </a>
                    {% endif %}
                    <h1>________________________________________</h1>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="container">
        <h5> Leave a reply </h5>
        <form method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-primary"> reply </button>
        </form>
    </div>

{% endblock %}